<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="edit-user-container">
        <h2>Edit user</h2>
        <form action="/edit-user" method="POST">
            <div>
                <label for="firstName">firstName</label>
                <input type="text" name="firstName" value=<%=dataUser.firstName %>>
            </div>
            <div>
                <label for="lastName">lastName</label>
                <input type="text" name="lastName" value=<%=dataUser.lastName %>>
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" name="email" value=<%=dataUser.email %>>
            </div>
            <div>
                <label for="address">address</label>
                <input type="text" name="address" value=<%=dataUser.address %>>
            </div>
            <input type="text" name="id" hidden value=<%=dataUser.id %>>
            <div>
                <button class="btn-submit-edit" type="submit">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>